{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}


<div>
    <h3>查询监控项目状态</h3>
    <form role="form" action="{{url_for('data_monitor')}}" method="POST">
        <div class="form-group" style="width:20%">
            <label>BASEID</label>
            <input type="number" class="form-control" placeholder="00" name="baseid">
        </div>
        <div class="form-group" style="width:20%">
            <label>TEMID</label>
            <input type="number" class="form-control" placeholder="00" name="temid">
        </div>
        <button type="submit" class="btn btn-primary" name="query" value="监控查询">监控查询</button>
        {% if result_query %}
        <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
            <caption>监控项目的状态</caption>
            <thead>
            <tr>
                <th>baseid</th>
                <th>temid</th>
                <th>主 题</th>
                <th>表 名</th>
                <th>负责人</th>
                <th>状 态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{result_query.baseid}}</td>
                <td>{{result_query.temid}}</td>
                <td>{{result_query.description}}</td>
                <td>{{result_query.table_name}}</td>
                <td>{{result_query.user}}</td>
                <td>{{result_query.state}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </form>
</div>

<br />
    <br />
<br />
<br />

<div>
    <h3>新增监控项目</h3>
    <form role="form" action="{{url_for('data_monitor')}}" method="POST">
        <div class="form-group" style="width:20%">
            <label>BASEID</label>
            <input type="number" class="form-control" placeholder="00" name="baseid">
        </div>
        <div class="form-group" style="width:20%">
            <label>TEMID</label>
            <input type="number" class="form-control" placeholder="00" name="temid">
        </div>
        <div class="form-group" style="width:50%">
            <label>subject</label>
            <input type="text" class="form-control" placeholder="00" name="subject">
        </div>
        <label>选择用户列表</label>
        <div class="checkbox">
            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="wuliang09"/>wuliang09
            </label>

            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="wangyan35"/>wangyan35
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="yaopengyue"/>yaopengyue
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="kanglijia"/>kanglijia
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="wangyixin"/>wangyixin
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name="user" value="yunxin"/>yunxin
            </label>

        </div>
        <div class="form-group" style="width:20%">
            <label>数据库类型</label>
            <select class="form-control">
                <option value="0">mysql</option>
                <option value="1">palo</option>
                <option value="2">mysql,palo</option>
                <option value="3">palo,mysql</option>
            </select>
        </div>
        <div class="form-group" style="width:20%">
            <label>监测类型</label>
            <select class="form-control">
                <option value="0">time</option>
                <option value="1">number</option>
                <option value="2">row</option>
            </select>
        </div>
        <div class="form-group" style="width:20%">
            <label>是否小时级监控</label>
            <select class="form-control">
                <option value="0">ishour</option>
                <option value="1">nothour</option>
            </select>
        </div>
        <div class="form-group" style="width:20%">
            <label>basedate</label>
            <input type="datetime" class="form-control" placeholder="00">
        </div>
        <div class="form-group" style="width:20%">
            <label>firstdate</label>
            <input type="datetime" class="form-control" placeholder="00">
        </div>
        <div class="form-group" style="width:70%">
            <label>监控配置</label>
            <textarea class="form-control" rows="5" name="config">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary" name="query" value="监控测试">监控测试</button>

        {% if result_insert %}
        <table class="table table-hover table-bordered" style="width: 40%;margin-left: 5%">
            <caption>监控项目的状态</caption>
            <thead>
            <tr>
                <th>baseid</th>
                <th>temid</th>
                <th>主 题</th>
                <th>表 名</th>
                <th>负责人</th>
                <th>状 态</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{result_insert.baseid}}</td>
                <td>{{result_insert.temid}}</td>
                <td>{{result_insert.description}}</td>
                <td>{{result_insert.table_name}}</td>
                <td>{{result_insert.user}}</td>
                <td>{{result_insert.state}}</td>
            </tr>
            </tbody>
        </table>
        {% endif %}
    </form>
</div>
{% endif %}
{% endblock %}
